* {
    margin: 0;
    padding: 0;
}

.modal-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
}

.modal-2 {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 1000px;
    height: 535px;
    display: flex;
}

.modal-4 {
    color: black;
    display: flex;
    flex-direction: column;
}

.modal-4 span {
    color: #1C88B8;
    margin: 20px;
}

.modal-4 h2 {
    margin: 20px;
}

.modal-4 p {
    margin: 20px;
}

.modal-4 strike {
    margin: 20px;
}

.modal-3 img {
    width: 450px;
    height: 400px;
    object-fit: contain;
}

.modal-4 button {
    width: 350px;
    height: 55px;
    color: white;
    background-color: #1C88B8;
    border-color: #1C88B8;
    font-size: 20px;
}
.modal-cros-20{
    display: flex;
   
    justify-content: right;
    align-items: flex-end;
}
.modal-cros-20 span{
    font-size: 40px;
    text-align: end;
    }

.btn-1 {
    color: white;
}

.modal-strike {
    font-size: 15px;
    color: gray;
}

.modal-btn-2 {
    width: 350px;
    height: 55px;
    background-color: #1C88B8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-btn-2 button {
    width: 50px;
    height: 55px;
    outline: 0;
    border: none;
}

.modal-btn-2 span {
    color: white;
}

/* Responsive styles for phone screens */
@media (max-width: 480px) {
    .modal-2 {
        width: 90%;
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .modal-3 img {
        width: 100%;
        height: auto;
    }

    .modal-4 button, .modal-btn-2 {
        width: 100%;
    }
    .modal-4 h2, .modal-4 p, .modal-4 span, .modal-strike {
        font-size: 16px;
        margin: 10px;
    }
}
@media (max-width: 480px) {
    .modal-2 {
        width: 90%;
        height: 104vh;        flex-direction: column;
        padding: 20px;
        /* overflow-y: auto; Enable scrolling if content exceeds the height */
    }

    .modal-3 img {
        width: 100%;
        height: auto;
    }

    .modal-4 button, .modal-btn-2 {
        width: 100%;
    }

    .modal-4 h2, .modal-4 p, .modal-4 span, .modal-strike {
        font-size: 16px;
        margin: 10px;
    }
}

